<h1>User info</h1>

<%= form_with(model: @user, url: user_path, local: true) do |form| %>
  <div>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Introduction %><br>
    <%= form.text_area :introduction %>
  </div>

  <%= form.submit "Update User" %>
<% end %>