  <h1>User info</h1>

<% if @user && @user.profile_image.attached? %>
  <%= image_tag @user.profile_image.variant(resize: "75x75").processed, width: 75, height: 75 %>
<% else %>
  <%= image_tag 'default-image.jpeg', width: 75, height: 75 %>
<% end %>


<table>
  <thead>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>


<%= link_to "Edit",edit_user_path(@user.id) %>