<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/681fabb260.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container" >
        <h4>Bookers</h4>
        <% if user_signed_in? %>


          <%= link_to  user_path(current_user.id) do %>
            <i class= "fa-solid fa-house" ></i>Home
          <% end %>

          <%= link_to  users_path do %>
            <i class= "fa-solid fa-users" ></i>Users
          <% end %>

          <%= link_to  books_path do %>
            <i class= "fa-solid fa-book-open" ></i>Books
          <% end %>

          <%= link_to  destroy_user_session_path, method: :delete do %>
            <i class= "fa-solid fa-right-from-bracket" ></i>Log out
           <% end %>

        <% else %>

          <%= link_to  root_path do %>
            <i class= "fa-solid fa-house" ></i>Home
          <% end %>

          <%= link_to  about_path do %>
            <i class= "fa-solid fa-users" ></i>About
          <% end %>

          <%= link_to  new_user_registration_path do %>
            <i class= "fa-solid fa-book-open" ></i>Sign up
          <% end %>

          <%= link_to  new_user_session_path do %>
            <i class= "fa-solid fa-right-from-bracket" ></i>Log in
          <% end %>

        <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>
    <footer>
      <p>Copyright © PROTO SPACE All rights reserved.</p>
    </footer>

  </body>
</html>
